<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Admin Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/admin_login.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="login_verification" method="POST">
        <h3>Login Here</h3>

        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email" name="email" value="svarunanusheel@gmail.com" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" value="123456789" required>

        <button type="submit">Log In</button>
    </form>
</body>
</html>
